.testimonial_area {
  padding: 80px 0;
  background-color: #f8f8f8;
  margin-top: 80px;

  .testimonial_item {
    margin: 0 12px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 24px;
    border: 1px solid #ccc;

    .image {
      position: relative;
      flex: 0 0 auto;
      width: 185px;
      height: 185px;

      img {
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      .quote {
        width: 46px;
        height: 46px;
        background-color: $primary;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        color: $white;
      }
    }

    .text {
      .name {
        @include font(18px, 700);
        color: $black;
        margin-bottom: 0px;

      }

      .top {
        border-bottom: 1px solid $border;
        margin-bottom: 10px;
        padding-bottom: 16px;
      }

      p {
        @include line_limit(3);
        font-size: 15px;
        font-weight: 500;
        line-height: 24px;
      }
    }
  }

  .slick-track {
    padding: 30px 0;
    margin-bottom: -30px;
  }

  .slick-dots {
    list-style: none;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slick-dots li {
    display: inline-block;
    margin: 0 8px;
  }

  .slick-dots li button {
    font-size: 0;
    list-style: none;
    width: 8px;
    height: 8px;
    border: 0;
    border-radius: 50%;
    background-color: $primary;
    position: relative;
  }

  .slick-dots li button::before {
    width: 20px;
    height: 20px;
    border: 1px solid $primary;
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: $transition;
  }

  .slick-dots .slick-active button::before {
    opacity: 1;
  }

  .register{
    margin-top: 50px;
    .title{
      @include font(22px, 600);
      margin-bottom: 22px;
    }
  }
}