@import "../variable/variable";
@import "../mixin/font";
@import "../mixin/line-limit";


.footer_area {
  position: relative;
  .overlay{   
    background-color: rgba(33, 37, 41, 0.9);
    margin-top: 100px;
    padding-top: 80px;
  }
}

.main-footer__bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid rgba(var(--ienet-white-rgb, 255, 255, 255), 0.1);
}

.main-footer__bottom__inner {
  padding: 26px 0;
}

.main-footer__copyright {
  margin: 0;
  font-size: 16px;
  color: var(--ienet-text-dark, #fff);
  a{
    color: $primary;
  }
}

.footer-widget {
  margin-bottom: 40px;
}

.footer-widget__logo {
  display: inline-flex;
  margin-bottom: 30px;
}

.footer-widget__newsletter {
  position: relative;
  width: 56%;
}

@media (max-width: 1199px) {
  .footer-widget__newsletter {
    width: 50%;
  }
}

@media (max-width: 991px) {
  .footer-widget__newsletter {
    width: 90%;
  }
}


.footer-widget__newsletter input[type=text] {
  width: 100%;
  display: block;
  border: none;
  outline: none;
  height: 63px;
  background-color: var(--ienet-white, #fff);
  color: rgba(var(--ienet-text-rgb, 115, 113, 119), 0.5);
  font-size: 16px;
  font-weight: 400;
  padding-left: 58px;
  padding-right: 20px;
  border-radius: 6px;
  transition: all 500ms ease;
}

@media (max-width: 767px) {
  .footer-widget__newsletter input[type=text] {
    padding-left: 30px;
  }
}

.footer-widget__newsletter input[type=text]:focus {
  color: rgba(var(--ienet-text-rgb, 115, 113, 119), 1);
}

.footer-widget__newsletter button[type=submit] {
  background-color: rgba(var(--ienet-base-rgb, 223, 35, 57), 0.12);
  width: auto;
  height: auto;
  border: none;
  outline: none;
  color: var(--ienet-base, #DF2339);
  position: absolute;
  top: 50%;
  padding: 11px 30px;
  right: 10px;
  transform: translateY(-50%);
  transition: all 500ms ease;
  border-radius: 5px;
}

@keyframes shapeMove {

  0%,
  100% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(10px);
  }
}

@media (max-width: 767px) {
  .footer-widget__newsletter button[type=submit] {
    padding: 8px 15px;
  }
}

.footer-widget__newsletter button[type=submit]:hover {
  color: $white;
  background-color: $black;
}

.footer-widget__newsletter button[type=submit]::after,
.footer-widget__newsletter button[type=submit]::before {
  border-top: 25px solid var(--ienet-base, #DF2339);
  border-bottom: 25px solid var(--ienet-base, #DF2339);
}

.footer-widget__title {
  font-size: 20px;
  font-weight: 600;
  color: var(--ienet-white, #fff);
  text-transform: capitalize;
  margin: 0;
  margin-top: -5px;
  margin-bottom: 36px;
  position: relative;
}

.footer-widget__title::after {
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 70px;
  height: 1px;
  content: "";
  background: linear-gradient(90deg, rgba(var(--ienet-base-rgb, 223, 35, 57), 1) 0%, rgba(var(--ienet-base-rgb, 223, 35, 57), 0) 100%);
}

.footer-widget__info,
.footer-widget__links {
  margin-top: -14px;
  margin-bottom: -13px;
}

.footer-widget__info li,
.footer-widget__links li {
  font-size: 16px;
  color: #bdb7c9;
  font-weight: 500;
  line-height: 42px;
}

.footer-widget__info li a,
.footer-widget__links li a {
  color: inherit;
  background: linear-gradient(to right, currentcolor 0%, currentcolor 100%) 0px 95%/0px 1px no-repeat;
  transition: all 500ms ease;
}

.footer-widget__info li a:hover,
.footer-widget__links li a:hover {
  background-size: 100% 1px;
}

.footer-widget__info li a:hover,
.footer-widget__links li a:hover {
  color: var(--ienet-white, #fff);
}

.footer-widget--about {
  position: relative;
}

.footer-widget--about .ienet-btn {
  background-color: transparent;
  border: 1px solid rgba(var(--ienet-white-rgb, 255, 255, 255), 0.12);
  color: $primary;
  padding: 6px 20px;
}

.footer-widget--about .ienet-btn::after,
.footer-widget--about .ienet-btn::before {
  border-bottom-color: $primary;
}

.footer-widget--about .ienet-btn:hover {
  color: $white;
}

.footer-widget__text {
  color: #bdb7c9;
  margin: 0;
  line-height: 28px;
}

.footer-widget__social {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.footer-widget__social a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ienet-black2, #141215);
  font-size: 14px;
  color: var(--ienet-white, #fff);
  transition: all 500ms ease;
  border-radius: 50%;
}

.footer-widget__social a:hover {
  background-color: var(--ienet-base, #DF2339);
  color: var(--ienet-white, #fff);
}

.footer-widget__gallery {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
}

.footer-widget__gallery a {
  display: block;
  position: relative;
  overflow: hidden;
}

.footer-widget__gallery a img {
  max-width: 100%;
  height: auto;
}

.footer-widget__gallery a::after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background-color: rgba(var(--ienet-base-rgb, 223, 35, 57), 0.7);
  transition: all 700ms ease;
  transform: translateY(-110%);
  opacity: 0;
  z-index: 1;
}

.footer-widget__gallery a:hover::after {
  transform: translateY(0);
  opacity: 1;
}

/* scroll to top area */
.scroll-to-top {
  display: inline-block;
  background: $primary;
  width: 40px;
  height: 40px;
  color: $white;
  text-align: center;
  border-radius: 5px;
  border: 0;
  position: fixed;
  bottom:-45px;
  right: 15px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  font-size: 18px;
  z-index: 99;
  cursor: pointer;
  transition: $transition;

  span {
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
  }
}


.scroll-to-top.show {
  opacity: 1;
  visibility: visible;
  bottom: 15px;
}
/* back to top button start */
.scroll-to-top {
  display: inline-block;
  background-color: $primary;
  width: 40px;
  height: 40px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  border-radius: 5px;
  font-size: 19px;
  color: #ffffff;
  cursor: pointer;
  transition: all linear .3s;
  border: 0;
}

.scroll-to-top.show {
  opacity: 1;
  visibility: visible;
  bottom: 30px;
}


// footer menu area start

.footer_menu_area {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: $white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.footer_menu_area ul {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.footer_menu_area ul li {
  display: inline-block;
}

.footer_menu_area ul li a {
  text-align: center;
  color: #9F9D9C;
  line-height: 20px;
  font-size: 12px;
  font-weight: 500;
  padding: 10px 0;
}

.footer_menu_area ul li a i {
  font-size: 16px;
}

.footer_menu_area ul li span {
  display: block;
}

.footer_menu_area ul li.active a {
  color: $black;
}

.footer_menu_area ul li button {
  text-align: center;
  color: #9F9D9C;
  line-height: 20px;
  font-size: 12px;
  font-weight: 500;
  padding: 10px 0;
}

.footer_menu_area ul li button i {
  font-size: 16px;
}

.footer_menu_area ul li span {
  display: block;
}

.footer_menu_area ul li.active button {
  color: $black;
}