.profile_area {
  margin-top: 80px;

  .profile_item {
    background: #fff;
    border-radius: 12px;
    border: 1px solid $border;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    margin: 0 12px;

    &:hover {
      box-shadow: 0 0px 25px rgba(0, 0, 0, 0.15);
    }

    .image {
      position: relative;

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(25px);
        color: var(--white);
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    .text {
      padding: 24px;
      text-align: center;

      .user {
        @include font(16px, 700);
        color: $black;
      }

      .age {
        margin-top: 10px;
        @include font(14px, 500);
        color: $black;
      }
    }
  }
.profile_slider{
  padding: 0 50px;
}
  .arrow {
    width: 42px;
    height: 42px;
    border: 1px solid $border;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: $transition;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &:hover {
      background-color: $primary;
      color: $white;
      border-color: $primary;
    }
  }
  .arrow_left{
    left: 0;
  }
  .arrow_right{
    right: 0;
  }
}