@import "../variable/variable";
@import "../mixin/font";
@import "../mixin/line-limit";


.bread_crumb_area {
  background: $black;
  padding: 80px 0;
}

.bread_crumb_area .title {
  font-size: 36px;
  font-weight: 600;
  color: $white;
}

/* search result area start */

.search_result_area {

  select {
    height: 45px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 12px;
    font-size: 15px;
    font-weight: 400;
    background-color: transparent;
    transition: $transition;
  }

  select:focus {
    border-color: $black;
  }
}

.search_result_area {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

.search_result_area .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 70px;
  padding-bottom: 80px;
}

.search_result_area .left_filter {
  width: 100%;
  position: sticky;
  top: 80px;
}

.search_result_area .left_filter .accordion-item {
  border: 0;
  margin-bottom: 12px;
}

.search_result_area .left_filter .accordion-body {
  background-color: $white;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.search_result_area .left_filter .accordion-button {
  background: $white;
  color: $black;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 20px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.search_result_area .left_filter .accordion-button:not(.collapsed) {
  background: $black;
  color: $white;
}

.search_result_area .accordion-body h4 {
  font-size: 17px;
  font-weight: 600;
}


.search_result_area .left_filter .accordion-button:not(.collapsed)::after {
  filter: brightness(0) invert(1);
}

.search_result_area .left_filter .accordion-button::after {
  flex-shrink: 0;
  width: 15px !important;
  height: 10px !important;
  background-size: cover !important;
  background-position: center !important;
}

.search_result_area .left_filter .input_groups+.input_groups {
  margin-top: 14px;
}

.search_result_area .left_filter .input_groups label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
}

.search_result_area .left_filter .input_groups select {
  background-color: $white;
}

.search_result_area .left_filter .form-check input {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #ccc;
  cursor: pointer;
}

.search_result_area .left_filter .form-check label {
  font-size: 16px;
  font-weight: 500;
  color: $black;
  cursor: pointer;
}

.search_result_area .left_filter .form-check-input:checked {
  background-color: $primary;
  border-color: $primary;
}


.search_result_area .left_filter .check_boxes .form-check {
  margin-bottom: 10px;
}

.search_result_area .left_filter .check_boxes input {
  border-radius: 3px;
}

.search_result_area .left_filter .check_boxes label {
  font-size: 15px;
}

.search_result_area .left_filter .input_groups {
  position: relative;
}

.input_groups input {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 10px;
  transition: $transition;
  font-size: 15px;
  font-weight: 400;
}

.input_groups input:focus {
  border-color: $black;
}

.search_result_area .left_filter .input_groups .search_id_btn {
  background-color: $primary;
  color: $white;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border-radius: 5px;
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
}


.search_result_area .profile_list .list_item {
  width: 100%;
  background-color: $white;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
}

.search_result_area .profile_list .list_item .image {
  margin-right: 30px;
  width: 240px;
  overflow: hidden;
  flex: 0 0 auto;
  height: 240px;
  position: relative;
}

.search_result_area .profile_list .list_item .image img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search_result_area .profile_list .list_item .image.visible_premium .image_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(15px);
  color: $white;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search_result_area .profile_list .list_item .image.visible_premium .image_overlay i {
  font-size: 26px;
}

.search_result_area .profile_list .list_item .image.visible_premium .image_overlay .title {
  font-size: 15px;
  font-weight: 500;
  margin: 10px 0 10px 0;
}

.search_result_area .profile_list .list_item .image.visible_premium .image_overlay a {
  color: $white;
  font-size: 13px;
  font-weight: 600;
  background-color: $primary;
  border-radius: 5px;
  padding: 4px 5px;
  width: 120px;
  margin: 0 auto;
}

.search_result_area .profile_list .list_item .info {
  flex-grow: 1;
}

.search_result_area .profile_list .list_item .info .details {
  flex-grow: 1;
}

.search_result_area .profile_list .list_item .details .user_id a {
  color: $primary;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
  margin-bottom: 12px;
  display: block;
}

.search_result_area .profile_list .list_item .details table th {
  font-size: 14px;
  font-weight: 500;
}

.search_result_area .profile_list .list_item .details table td {
  font-size: 14px;
}

.search_result_area .profile_list .list_item .details .table> :not(caption)>*>* {
  padding: .2rem .0rem;
}

.search_result_area .profile_list .list_item .details .des {
  font-size: 15px;
  padding-right: 30px;
}

.search_result_area .profile_list .list_item .details .view_viodata {
  display: inline-block;
  background:$primary;
  color: $white;
  font-weight: 500;
  font-size: 15px;
  margin-top: 10px;
  padding: 5px 20px;
  border-radius: 3px;
  &:hover{
    background: $black;
  }
}

.search_result_area .profile_list .list_item .option {
  width: 55px;
  height: 100%;
  margin-top: 36px;
  margin-left: 20px;
}

.search_result_area .profile_list .list_item .option {
  display: flex;
  flex-direction: column;

}

.search_result_area .profile_list .list_item .option .option_list {
  width: 100%;
  background-color: #f8f8f8;
  border: 0;
  padding: 10px 4px;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
}

.search_result_area .profile_list .list_item .option .option_list:hover {
  background-color: $primary;
  color: $white;
  border-color: $primary;
}

.search_result_area .profile_list .list_item .option .option_list:first-child {
  border-top: 1px solid #ddd;
}

/* search result area end */


/* pagination area */

.pagination {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 16px 20px;
}

.pagination ul li {
  display: inline-block;
}

.pagination ul li a {
  background-color: $white;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  line-height: 35px;
  color: $black;
  border: 1px solid rgba(198, 187, 159, 0.5);
  font-size: 16px;
  font-weight: 500;
  margin: 0 4px;
}

.pagination ul li a:hover {
  background-color: $primary;
  color: $white;
  border-color: $primary;
}

.pagination ul li.active a {
  background-color: $primary;
  color: $white;
  border-color: $white;
}


/* login area start */
.login_area .login_box {
	background-color: $white;
	max-width: 450px;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 80px;
	padding: 40px 30px;
}

.login_area .login_box .title {
	font-size: 26px;
	font-weight: 600;
	margin-bottom: 40px;
	margin-top: 20px;
}

.login_area .login_box form .input_groups {
	margin-bottom: 20px;
}

.login_area .login_box form label {
	font-size: 15px;
	font-weight: 500;
	margin-bottom: 5px;
}

.login_area .login_box form .input_groups input {
	width: 100%;
	height: 50px;
	background-color: transparent;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 15px;
	font-weight: 400;
	padding: 0 20px;
	padding-right: 40px;
	transition: var(--transision);
}

.login_area .login_box form input:focus {
	border-color: $primary;
}

.login_area .login_box form .input_box i {
	position: absolute;
	top: 16px;
	right: 20px;
	cursor: pointer;
	color: $primary;
}

.login_area .login_box .forget {
	margin-bottom: 24px;
}

.login_area .login_box .forget a {
	color: $primary;
	font-size: 15px;
	font-weight: 500;
}

.login_area .login_box .forget a:hover {
	text-decoration: underline;
}

.login_area .login_box .button_goups button {
	background: $primary;
	color: $white;
	font-size: 18px;
	font-weight: 500;
	border-radius: 60px;
	border: 0;
	padding: 14px 20px;
	width: 100%;
  &:hover{
    background-color: $black;
  }
}

.login_area .login_box .register {
	margin-top: 30px;
}

.login_area .login_box .register p {
	color: $black;
	font-size: 15px;
}

.login_area .login_box .register a:hover {
	text-decoration: underline;
}

.login_area .login_box .register a {
	color: $primary;
	font-size: 15px;
	font-weight: 500;
	margin-left: 10px;
}

.login_area .login_box .msg_success {
	background-color: #D4EDDA;
	margin-bottom: 24px;
	padding: 14px;
	border-radius: 5px;
}

.login_area .login_box .msg_success p {
	font-size: 14px;
	color: green;
	font-weight: 500;
	text-align: center;
}

.login_area .login_box .msg_error {
	background-color: #F8D7DA;
	margin-bottom: 24px;
	padding: 14px;
	border-radius: 5px;
}

.login_area .login_box .msg_error p {
	font-size: 14px;
	color: red;
	font-weight: 500;
	text-align: center;
}

.login_area .login_box .radio_groups {
	margin-bottom: 15px;
}

.login_area .login_box .radio_groups .form-check {
	margin-right: 24px;
}

.login_area .login_box .radio_groups .form-check label {
	cursor: pointer;
	margin-bottom: 0;
}

.login_area .login_box .radio_groups .form-check-input[type="radio"] {
	border: 1px solid #ccc !important;
	border-radius: 50% !important;
}

.login_area .login_box .radio_groups .form-check-input:checked {
	background-color: $primary !important;
	border-color: $primary !important;
}

/* login area end */