@import "../variable/variable";
@import "../mixin/font";
@import "../mixin/line-limit";

.login_area {
  padding: 120px 0;

  .info {
    .title {
      @include font(26px, 700);
      margin-bottom: 10px;
    }
  }

  .main {

    .item {
      display: flex;
      align-items: center;
      align-items: center;
      gap: 24px;
      background-color: #F8F9FF;
      // box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      height: 100%;
      padding: 20px;
      border-radius: 8px;
      transition: $transition;

      .icon {
        flex: 0 0 auto;

        img {
          width: 50px;
        }
      }

      .text {
        @include font(18px, 400);
        color: $black;
        line-height: normal;
      }

      &:hover {
        transform: scale(1.03);
      }
    }
  }

  .form {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .16);
    border-radius: 10px;
    padding: 30px;
    margin-left: 70px;

    .title {
      @include font(32px, 700);
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 15px;
      font-size: 16px;
    }

    .msg {
      margin-bottom: 15px;
    }

    small {
      line-height: normal;
    }

    .privacy {
      @include font(14px, 400);
      margin-bottom: 15px;

      a {
        color: #136AFB;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .button_groups {
      .lg_btn {
        font-size: 16px;
        font-weight: 600;
        color: #ffffff;
        line-height: 24px;
        background-color: $primary;
        border: 0;
        border-radius: 40px;
        padding: 10px 29px;
        padding-right: 18px;
        margin-right: 10px;

        &:hover {
          background-color: $black;
        }

        svg {
          margin-left: 5px;
        }
      }

      .or {
        color: $paragraph;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

}

.custom_input_box {
  display: flex;
  margin-bottom: 5px;

  .custom-select {
    flex: 0 0 auto;
  }

  .input_groups {
    flex-grow: 1;

    input {
      height: 50px;
      border: 1px solid #ccc;
      border-left: 0;
      padding: 0 16px;
      font-size: 16px;
      width: 100%;
    }
  }

  .custom-select {
    position: relative;
    width: 120px;
    font-size: 16px;
  }

  .select-selected {
    border: 1px solid #ccc;
    height: 50px;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .select-selected img {
    margin-right: 10px;
  }

  .select-arrow {
    margin-left: auto;
  }

  .select-arrow.down {
    transform: rotate(180deg);
  }

  .select-items {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 99;
    width: 100%;
    display: none;
  }

  .select-items div {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .select-items div:hover {
    background-color: #ddd;
  }

  .select-items div img {
    margin-right: 10px;
  }
}

.otp_input_groups {
  display: flex;
  gap: 14px;

  .input_field {

    input {
      width: 100%;
      height: 50px;
      border: 1px solid $black;
      padding: 0 10px;
      text-align: center;
      font-size: 18px;
      font-weight: 600;
    }
  }
}

.send_otp_form {
  .button {
    .cnf_btn {
      font-size: 16px;
      font-weight: 600;
      color: #ffffff;
      line-height: 24px;
      background-color: $primary;
      border: 0;
      border-radius: 40px;
      padding: 10px 29px;
      margin-bottom: 12px;
    }
  }

  .cnf_btn[disabled] {
    background-color: #ccc;
    color: $black;
    opacity: 0.7;
  }

  .re_send {
    background-color: transparent;
    border: 0;
    @include font(15px, 500);
    text-transform: uppercase;
    text-decoration: underline;
    margin-top: 10px;
  }
}

.login_with_email {
  .title {
    color: $primary;
  }

  .input_groups {
    label {
      @include font(13px, 500);
      margin-bottom: 5px;
    }

    input {
      width: 100%;
      height: 50px;
      border: 1px solid $border;
      border-radius: 5px;
      padding: 0 15px;
      transition: $transition;

      &:focus {
        border-color: $black;
      }
    }

    .field {
      button {
        position: absolute;
        top: 15px;
        right: 15px;
        background-color: transparent;
        border: 0;
        font-size: 16px;
      }
    }
  }

  .login_with_email_btn {
    color: $paragraph;
    @include font(14px, 500);
    text-decoration: underline;
  }

  .lg_btn {
    padding-right: 29px !important;
  }
}